@using Microsoft.AspNetCore.Components;
@inherits BlazorMaterialComponent

<span class=@( $"mdc-list-item__graphic {Class}" )>
    @if (Type == MDCListItemGraphicType.Image)
    {
        <img src="@Graphic" width="@Width" height="@Height" alt="@Alt" />
    }
    else
    {
        <i class="material-icons" aria-hidden="true">@Graphic</i>
    }
</span>

@functions{
    [Parameter]
    private MDCListItemGraphicType Type { get; set; }
    [Parameter]
    private string Graphic { get; set; }
    [Parameter]
    private string Width { get; set; }
    [Parameter]
    private string Height { get; set; }
    [Parameter]
    private string Alt { get; set; }
}